.result-list-party {
    margin: 0px;
    padding: 10px;
    display: block; 
    
    /* list-style-type: disc; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;  */
    border: white 2px solid;
    background-color: rgb(0, 0, 0);
}

.result-list-party:empty {
    display: none;
}

.song-info-list-item-party {
    list-style-type: none;
    color: white;
    margin-bottom: 50px;
}

.search-images-party {
    width: 100px;
    float: left;
    border: white 2px solid;
    /* border-radius: 22px; */
}

.song-name-party {
    color: white;
    /* float: right; */
    display: block;
    padding-left: 125px;
    font-size: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.artist-name-party {
    color: white;
    /* float: right; */
    display: block;
    padding-left: 125px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}