*{
    font-family: verdana;
}

body{
    background-color: #121212;
}

.chat-room-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
    margin-top: 60px;
    background-color: #121212;
}

.chat-room-title {
    margin-top: 0;
    color: white;
}

.room-name {
    margin-top: -10px;
    color: white;
}

.messages-container {
    flex: 1;
    min-height: 100px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 7px 7px 0 0;
    background-color: #121212;
}

.messages-list {
    list-style-type: none;
    padding: 0;
}

.new-message-input-field {
    height: 100px;
    max-height: 50%;
    font-size: 20px;
    padding: 8px 12px;
    resize: none;
    background-color: #121212;
    color: white;
}

.message-item {
    width: 55%;
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 6px;
    color: white;
    height: auto;
    overflow: hidden;
}

.my-message {
    /* background-color: #038eff; */
    background-color: #31a24c;
    margin-left: auto;
}

.received-message {
    background-color: #3f4042;
    margin-right: auto;
}

.send-message-button {
    font-size: 20px;
    font-weight: 600;
    color: white;
    /* background: #038eff; */
    background: #31a24c;
    padding: 10px 12px;
    border: none;
}

.messages-container,
.new-message-input-field,
.send-message-button {
    border-color: #9a9a9a;
}

.x-button{
    width: auto;
    height: auto;
    max-width: 25px;
    max-height: 25px;
}