body{
    background-color: #121212
}

.head1{
    font-size: 70px;
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
}

.head2{
    text-align: center;
}

.bullets{
    padding-bottom: 20px;
}

.logoHome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    width: 50%;
    width: 200px;
}

.logoHome.resize {
    width: 300px;
    height: auto;
}

.column{
    box-sizing: border-box;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    background-color: #333;
    background-image: linear-gradient(#31a24c 75%, #333);
    float: left;
    margin-right: 100px;
    width: 35%;
    padding: 5px;
    padding-bottom: 50px;
    height: 400px; 
    /* Should be removed. Only for demonstration */
}

.column2{
    box-sizing: border-box;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    background-color: #333;
    background-image: linear-gradient(#31a24c 75%, #333);    float: right;
    width: 35%;
    padding: 5px;
    padding-bottom: 50px;
    height: 400px;
}

.row{
    margin: auto;
    display: block; 
    margin-top: 175px;
    margin-bottom: 250px;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* below code makes columns stack when the page is resized small enough */
@media screen and (max-width: 600px) {      
    .column {
      width: 100%;
    }
  }