.navClass {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navLogo {
  float: left;
  width: 45px;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 55px;
  }
  
.navListElements {
    float: left;
  }
  
.navListElements a {
    display: block;
    color: white;
    text-align: center;
    height: 55px;
    padding: 15px 15px;
    text-decoration: none;
  }
.navListElementsLogo a {
  display: block;
  float: left;
  width: 45px;
  height: 55px;
  /* margin-top: 15px;
  margin-left: 10px; */
  padding: 15px 15px;
  /* padding-right: 5px; */
}

.navListElementsLogo a:hover{
  background-color: #1d5b2b;
  transition: 0.3s;
}

.navListElementsLogo a:active {
  background-color: #31a24c;
}
  
.navListElements a:hover {
    background-color: #1d5b2b;
    transition: 0.3s;
  }

.navListElements a:active {
    background-color: #31a24c;
  }

.navImage {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 45px;
  border-radius: 50%;
}

.displayName {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}