.party-room-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
    margin-top: 60px;
    background-color: #121212;
}

.party-room-title {
    margin-top: 10px;
    color: white;
    border: white 10px;
}