/* .send-search-button {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
    margin-top: 60px;
    background-color: #121212;
} */
.song-searchbar {
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
}

.song-info-list-item {
    list-style-type: none;
    color: white;
    margin-bottom: 80px;
}
.result-list {
    margin: 0px;
    padding: 10px;
    display: block; 
    
    /* list-style-type: disc; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;  */
    width: 50%;
    border: white 2px solid;
    
}
.result-list:empty {
    display: none;
}

.search-images {
    width: 100px;
    float: left;
}

.song-name {
    color: white;
    /* float: right; */
    display: block;
    padding-left: 125px;
   
    
}

.song-artist {
    color: white;
    /* float: right; */
}

.result-container {
}