.chat-user-search-container {
    /* transform: translate(0, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    /* position: fixed;  */
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.existing-chats-container {
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
}

.ChatUserSearch-container {
    min-width: 250px;
    margin-left: 100px;
    margin-top: 300px;
    margin-right: 10%;
    width: 60%;

}

.user-searchbarChatUserSearch {
    padding: 24px 12px;
    border-radius: 7px;
    font-size: 24px;
    width: 100%;
    
}

.user-searchbarChatUserSearch:focus {
    outline: none;
}

.user-info-itemChatUserSearch {
    list-style-type: none;
    color: white;
    margin-bottom: 80px;
    word-break: break-all;

    
}
.user-info-itemChatUserSearch:empty {
    display: none;
}

.result-listChatUserSearch {
    white-space: nowrap;

    margin: 0px;
    padding: 10px;
    display: block; 
    overflow: hidden;
    
    border: white 2px solid;
    background-color: rgb(0, 0, 0);

}

.result-listChatUserSearch:empty {
    display: none;
}




.search-imageChatUserSearch {
    width: 200px;
    float: left;
    border: white 2px solid;
    /* border-radius: 22px; */
    
}

.search-imageChatUserSearch[src=""] {
    display: none;
}

/* This one will match when the user exists */
.user-display-nameChatUserSearch {
    word-break: break-word;
    color: white;
    display: block;
    padding-left: 225px;;
    font-size: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

/* This one will match when the image doesn't exist and we wnat to
say "User does not exist", without having that test be padded to the right */
.user-display-nameChatUserSearch_2 {
    word-break: break-all;
    overflow-wrap: break-word;

    color: white;
    display: block;
    font-size: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.user-display-nameChatUserSearch:empty {
    display: none;
}

.result-containerChatUserSearch {
    /* position: relative; */
    height: 0px;
    z-index: 999;
    width: auto;
    
    /* bottom: 18.5%; */
}

.result-containerChatUserSearch:empty {
    display: none;
}













.existing-chat-image {
    width: 200px;
    /* float: left; */
    border: white 2px solid;
    /* border-radius: 22px; */
    
}

.existing-chat-item {
    list-style-type: none;
    color: white;
    margin-bottom: 80px;
    
}

.existing-chat-displayname {
    color: white;
    float: left;
    display: block;
    font-size: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}



.existing-chats-list {

    /* position: fixed; */
    margin: 0px;
    padding: 10px;
    display: block; 
    overflow-y: scroll;
    height: 65vh;
  
    border: white 2px solid;
    background-color: rgb(0, 0, 0);
    width: 250px;
}
.existing-chats:empty {
    display: none;
}